<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Application</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
        <link rel="stylesheet" href="css/style.css">
    </head>

<body>

    <!-- Header -->
    <header id="header">
        <nav>
            <div class="container">
                <div class="text-center">
                    <a href="/home" class="nav-brand text-dark">Student Feedback System System</a>
                </div>
            </div>
        </nav>
    </header>
    <!-- /Header -->

  <!-- Main Site -->
  <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/home"><i class="fas fa-angle-double-left"></i> All Facultys</a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">New Faculty</h2>
            <span class="text-light">Use the below form to create a new faculty account</span>
        </div>

        <form action="add_faculty" method="POST" id="add_user">
            <div class="new_user">
                <div class="form-group">
                    <label for="name" class="text-light">Name</label>
                    <input type="text" name="name" value="" placeholder="Mark Stoenis">
                </div>
        
                <div class="form-group">
                    <label for="email" class="text-light">Email</label>
                    <input type="text" name="email" value="" placeholder="example@gmail.com">
                </div>
        
                <div class="form-group">
                    <button type="submit" class="btn text-dark update">Save</button>
                </div>
        
            </div>
        </form>
       
    </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
